<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*"
					 modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet"
						arguments=".\greenlane.dll"
						stdoutLogEnabled="true"
						stdoutLogFile="\\?\%home%\LogFiles\stdout"
						hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
					<environmentVariable name="DOTNET_CLI_TELEMETRY_OPTOUT" value="1" />
				</environmentVariables>
			</aspNetCore>
			<httpProtocol>
				<customHeaders>
					<remove name="X-Powered-By" />
				</customHeaders>
			</httpProtocol>
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="52428800" />
					<!-- 50MB -->
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>